<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Poral de perguntas e respostas</title>

    <!-- JQuery -->
    <script src="js/jquery-2.2.1.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- incluindo css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img src="images/logo.png" />
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="pills-home-tab" href="login"
                       role="tab" aria-controls="pills-home" aria-selected="true">
                        Entrar
                    </a>
                </li>

                <li class="nav-item">
                    <a href="formulario_inclusao_usuario" class="nav-link" id="pills-profile-tab"
                       role="tab" aria-controls="pills-contact" aria-selected="false"
                       >
                        Quero me cadastrar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab"
                       href="#pills-contact" role="tab" aria-controls="pills-contact"
                       aria-selected="false">
                        Quem somos
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
            </div>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">


        <div class="row">
            <% for(let i = 1; i < assuntos.length; i++) { %>
            <div class="col-md-4">
                <div class="noticia_wrapper">
                    <span class="noticia_autor"><%= assuntos[i].titulo%></span>
                    <!--<a href="noticia?id_noticia=<%=noticias[i].id_noticia%>" class="noticia_titulo"><%= noticias[i].titulo%></a>-->
                    <!--<span class="noticia_data"><%= noticias[i].data_criacao%></span>-->
                    <br />
                    <p class="assunto_criado_em">
                        <%= assuntos[i].createdAt%>
                    </p>
                    <p class="assunto_atualizado">
                        <%= assuntos[i].updatedAt%>
                    </p>
                </div>
            </div>
            <% } %>
        </div>

        <div class="row ver_mais">
            <button type="button"
                    class="btn btn-default">
                <a href="noticias.html">
                    Ver todos os assuntos
                </a>
            </button>
        </div>

    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    </body>
</html>